[api]
apikey = api
port = 3000
publicip = 1.1.1.1
interfacewgprivatekey = EKQjHssyQE4MVKmrv4xpVO3vsnt0kxxxxxxxxxxxxx=
interfacewgpublickey = JTd3H3va2TrXXkEqs/m6gYvXuaSMQaxxxxxxxxxxxxx=
peerwgpublickey = 7TV7byE1FngcIM40+NsmwUjPWUUFnCxxxxxxxxxxxxx=
peerwgprivatekey = kJnY0vLqqwAbyaGSF1MySN96Txxxxxxxxxxxxx=
sshkeypath = /root/.ssh/id_rsa

[aws1]
accesskey = AKIAVxxxxxxxxxxxxx
secretkey = rowAiKOSdIFbQSCqMxxxxxxxxxxxxx
instanceid = i-0cfxxxxxxxxxxxxx
region = ap-southeast-2
order = 1
user = ilyas
pass = ilyas
apikey =
whitelist = 122.11.22.1,122.44.11.22
