[Unit]
Description=IP Rotation Service for %i (WireGuard + 3proxy)
After=network.target

[Service]
Type=simple
ExecStart=/opt/cloud-iprotate/start_iprotate.sh %i
ExecStop=/opt/cloud-iprotate/stop_iprotate.sh %i
ReloadExecReload=/opt/cloud-iprotate/reload_iprotate.sh %i
TimeoutStopSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target